{% extends 'base.html.twig' %}

{% block title %}Felhasználó szerkesztése{% endblock %}

{% block body %}
    <h3>Felhasználó szerkesztése:</h3>

    {{ include('usertest/_form.html.twig') }}
{% endblock %}