{%  extends "base.html.twig" %}
{% block title %}Új felhasználó hozzáadása{% endblock %}
{% block body %}
    <h3>Új felhasználó hozzáadása:</h3>
    {{ include('usertest/_form.html.twig') }}
{% endblock %}
